{% extends "bootstrap/base.html" %}

{% block title %}
Build
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    {% include "buildcontroller.js" %}
</script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-targets="#navbar-to-collapse"
            aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Char Builder</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-to-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                    <a href="/creator">Build</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <label for="charSearch" class="sr-only">
                        Search Characters
                    </label>
                    <input type="text" class="form-control" name="q"
                    id="charSearch" placeholder="Search Characters">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="settings/{{user.email}}">
                        Logged in as {{ user.email }}
                    </a>
                </li>
                <li class="active"><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Details</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="charName"
                            class="col-xs-2 control-label">
                                Name
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                id="charName" placeholder="Character Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="charAge"
                            class="col-xs-2 control-label">
                                Age
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                id="charAge" placeholder="Character Age">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">
                                Owner
                            </label>
                            <div class="col-xs-10">
                                <p class="form-control-static">
                                    {% if user.is_authenticated %}
                                    {{user.email}}
                                    {% else %}
                                    Anonymous
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h4 class="text-center">Arcs</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="charArcSaga"
                            class="col-xs-2 control-label">
                                Saga
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                placeholder="Saga Arc" id="charArcSaga">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="charArcEpic"
                            class="col-xs-2 control-label">
                                Epic
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                placeholder="Epic Arc" id="charArcEpic">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="charArcBelief"
                            class="col-xs-2 control-label">
                                Belief
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                placeholder="Belief Arc" id="charArcBelief">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="charArcGlory"
                            class="col-xs-2 control-label">
                                Glory
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                placeholder="Glory Arc" id="charArcGlory">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="charArcFlaw"
                            class="col-xs-2 control-label">
                                Flaw
                            </label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control"
                                placeholder="Flaw Arc" id="charArcFlaw">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">PCP Distribution</h4>
                    <form>
                        <div class="form-group">
                            <label for="pcpSelect">
                                Campaign Power Level
                            </label>
                            <select class="form-control" id="pcpSelect"
                            onchange="bController.updatePcpTotal()">
                                <option><strong>Gritty (18)</strong></option>
                                <option><strong>Low (22)</strong></option>
                                <option><strong>Medium (26)</strong></option>
                                <option><strong>High (30)</strong></option>
                                <option><strong>Legendary (34)</strong></option>
                            </select>
                        </div>
                    </form>
                    <table class="table">
                        <caption>PCP Categories</caption>
                        <thead>
                            <tr>
                                <th>Remaining</th>
                                <th>Race</th>
                                <th>Attributes</th>
                                <th>Skills</th>
                                <th>Proficiencies</th>
                                <th>Social Class &amp; Wealth</th>
                                <th>Boons &amp; Banes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span id="pcpRemain">12</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group"
                                    aria-label="Change Race PCP">
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpRaceUp()">
                                            +
                                        </button>
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpRaceDn()">
                                            -
                                        </button>
                                    </div>
                                    <span id="pcpRace">1</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group"
                                    aria-label="Change Attribute PCP">
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpAttrUp()">
                                            +
                                        </button>
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpAttrDn()">
                                            -
                                        </button>
                                    </div>
                                    <span id="pcpAttr">1</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group"
                                    aria-label="Change Skills PCP">
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpSkillsUp()">
                                            +
                                        </button>
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpSkillsDn()">
                                            -
                                        </button>
                                    </div>
                                    <span id="pcpSkills">1</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group"
                                    aria-label="Change Proficiencies PCP">
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpProfsUp()">
                                            +
                                        </button>
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpProfsDn()">
                                            -
                                        </button>
                                    </div>
                                    <span id="pcpProfs">1</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group"
                                    aria-label="Change Social Class/Wealth PCP">
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpWealthUp()">
                                            +
                                        </button>
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpWealthDn()">
                                            -
                                        </button>
                                    </div>
                                    <span id="pcpWealth">1</span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group"
                                    aria-label="Change Boons/Banes PCP">
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpBoonsUp()">
                                            +
                                        </button>
                                        <button type="button"
                                        class="btn btn-default"
                                        onclick="bController.pcpBoonsDn()">
                                            -
                                        </button>
                                    </div>
                                    <span id="pcpBoons">1</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Character Biography</h4>
                    <form>
                        <div class="form-group">
                            <label for="charBio" class="sr-only">
                                Character Biography
                            </label>
                            <textarea class="form-control" id="charBio"
                            rows="4" placeholder="Character Biography">
                            </textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Race Selection</h4>
                    <form>
                        <div class="form-group">
                            <label for="charRace">Race Selection</label>
                            <select class="form-control" id="charRace"
                            onfocus="bController.checkRaceOptions()"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Attribute Selection</h4>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>PCP Spent</th>
                            <th>Attribute Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="pcpSpentAttr">1</td>
                            <td id="AttrPoints">18</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>STR</th>
                            <th>AGI</th>
                            <th>END</th>
                            <th>HLT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Strength">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('STR')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('STR')">
                                        -
                                    </button>
                                </div>
                                <span id="STR">1</span>
                            </td>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Agility">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('AGI')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('AGI')">
                                        -
                                    </button>
                                </div>
                                <span id="AGI">1</span>
                            </td>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Endurance">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('END')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('END')">
                                        -
                                    </button>
                                </div>
                                <span id="END">1</span>
                            </td>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Health">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('HLT')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('HLT')">
                                        -
                                    </button>
                                </div>
                                <span id="HLT">1</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>WIL</th>
                            <th>WIT</th>
                            <th>INT</th>
                            <th>PER</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Willpower">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('WIL')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('WIL')">
                                        -
                                    </button>
                                </div>
                                <span id="WIL">1</span>
                            </td>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Wit">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('WIT')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('WIT')">
                                        -
                                    </button>
                                </div>
                                <span id="WIT">1</span>
                            </td>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Intelligence">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('INT')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('INT')">
                                        -
                                    </button>
                                </div>
                                <span id="INT">1</span>
                            </td>
                            <td>
                                <div class="btn-group" role="group"
                                aria-label="Change Perception">
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrUp('PER')">
                                        +
                                    </button>
                                    <button type="button"
                                    class="btn btn-default"
                                    onclick="bController.attrDn('PER')">
                                        -
                                    </button>
                                </div>
                                <span id="PER">1</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Compound Attributes</h4>
                    <div class="center-block">
                        <button type="button"
                        class="btn btn-default center-block"
                        onclick="bController.calcCompound()">
                            Calculate
                        </button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ADR</th>
                            <th>MOB</th>
                            <th>CAR</th>
                            <th>TOU</th>
                            <th>CHA</th>
                            <th>GRIT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="ADR"></td>
                            <td id="MOB"></td>
                            <td id="CAR"></td>
                            <td id="TOU"></td>
                            <td id="CHA"></td>
                            <td id="GRIT"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Skill Selection</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>PCP Spent</th>
                                <th>Skill Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="pcpSpentSkill">1</td>
                                <td id="SkillPoints">0</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <div class="form-group">
                            <label for="skillSelector" class="sr-only">
                                Skill Options
                            </label>
                            <select class="form-control" id="skillSelector">
                                <option>Athletics</option>
                                <option>Climbing</option>
                                <option>Cooking</option>
                                <option>Crafting</option>
                                <option>Engineering</option>
                                <option>History</option>
                                <option>Hunting</option>
                                <option>Intimidate</option>
                                <option>Navigation</option>
                                <option>Observation</option>
                                <option>Orate</option>
                                <option>Perform</option>
                                <option>Persuasion</option>
                                <option>Politics</option>
                                <option>Research</option>
                                <option>Riding</option>
                                <option>Sailing</option>
                                <option>Stealth</option>
                                <option>Subterfuge</option>
                                <option>Surgery</option>
                                <option>Tactics</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="levelSkill">Desired Level</label>
                            <input type="text" class="form-control"
                            id="levelSkill">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default"
                            onclick="bController.addSkill()">
                                Add Skill
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Skill</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody id="skillTable"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Proficiencies</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>PCP Spent</th>
                                <th>Proficiency Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="pcpSpentProf">1</td>
                                <td id="ProfPoints">0</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <div class="form-group">
                            <label for="schoolSelector">Select School</label>
                            <select class="form-control" id="schoolSelector">
                                <option>Scrapper</option>
                                <option>Soldier</option>
                                <option>Officer</option>
                                <option>Noble</option>
                                <option>Traditional Fencer</option>
                                <option>Unorthodox Fencer</option>
                                <option>Esoteric</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default"
                            onclick="bController.addSchool()" id="sButton">
                                Add School
                            </button>
                        </div>
                        <div class="form-group">
                            <label for="profSelector">
                                Select Proficiencies
                            </label>
                            <select class="form-control" id="profSelector">
                                <option>Grappling</option>
                                <option>Pugilism</option>
                                <option>Dagger</option>
                                <option>1H Sword</option>
                                <option>1H Blunt</option>
                                <option>2H Blunt</option>
                                <option>2H Sword</option>
                                <option>Spear</option>
                                <option>Polearm</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default"
                            onclick="bController.addProf()" id="pButton">
                                Add Proficiency
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>School</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody id="schoolTable"></tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Proficiency</th>
                            <th>Level</th>
                        </tr>
                    </thead>
                    <tbody id="profTable"></tbody>
                </table>
                <form>
                    <div class="form-group">
                        <button type="button"
                        class="btn btn-default form-control"
                        onclick="bController.profLvlUp()">
                            Improve School Level
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Boons &amp; Banes</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>PCP Spent</th>
                                <th>Boons/Banes Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="pcpSpentBoon">1</td>
                                <td id="BoonPoints">-15</td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <div class="form-group">
                            <label for="bbEntry">Boon or Bane</label>
                            <input type="text" class="form-control"
                            id="bbEntry">
                        </div>
                        <div class="form-group">
                            <label for="bbCost">Cost</label>
                            <input type="text" class="form-control"
                            id="bbCost">
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="boonRad"
                                value="option1" name="optionsRadios">
                                Boon
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="baneRad"
                                value="Bane" name="optionsRadios">
                                Bane
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="button"
                            class="btn btn-default form-control"
                            onclick="bController.addBB()">
                                Add Boon/Bane
                            </button>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Boon/Bane</th>
                            <th>Name</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody id="bbTable"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Weapons</h4>
                    <form>
                        <div class="form-group">
                            <label for="wSearch">Search Weapons</label>
                            <input type="text" id="wSearch" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="button"
                            class="form-control btn btn-default"
                            onclick="bController.searchWep()">
                                Search
                            </button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="wepSearchRes"></tbody>
                    </table>
                </div>
                <table class="table">
                    <caption>Selected Weapons</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody id="selWep"></tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Armor</h4>
                    <form>
                        <div class="form-group">
                            <label for="aSearch">Search Armor</label>
                            <input type="text" id="aSearch" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="button"
                            class="form-control btn btn-default"
                            onclick="bController.searchArm()">
                                Search
                            </button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="armSearchRes"></tbody>
                    </table>
                </div>
                <table class="table">
                    <caption>Selected Armor</caption>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody id="selArm"></tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/save" method="POST">
                        {{form.hidden_tag()}}
                        <button type="button" class="btn btn-default"
                        onclick="bController.popSend()">
                            Save Character
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='buildcontroller.js')}}"></script>
{% endblock %}
