{% extends "bootstrap/base.html" %}

{% block title %}
Build
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-targets="#navbar-to-collapse"
            aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Char Builder</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-to-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                    <a href="/creator">Build</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <label for="charSearch" class="sr-only">
                        Search Characters
                    </label>
                    <input type="text" class="form-control" name="q"
                    id="charSearch" placeholder="Search Characters">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="settings/{{user.email}}">
                        Logged in as {{ user.email }}
                    </a>
                </li>
                <li class="active"><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST" action="/save">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{form.csrf_token}}
                        <h4 class="text-center">Details</h4>
                    </div>
                    <div class="panel-body">
                        {{form.name.label}}: {{form.name()}}<br>
                        {{form.age.label}}: {{form.age()}}<br>
                        {{form.race()}}<br>
                        <table class="table text-center">
                            <caption>PCP Distribution</caption>
                            <thead>
                                <tr>
                                    <th>Total</th>
                                    <th>Race</th>
                                    <th>Attributes</th>
                                    <th>Skills</th>
                                    <th>Proficiencies</th>
                                    <th>Social Class/Wealth</th>
                                    <th>Boons/Banes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{form.pcp_total()}}</td>
                                    <td>{{form.pcp_race()}}</td>
                                    <td>{{form.pcp_attr()}}</td>
                                    <td>{{form.pcp_skills()}}</td>
                                    <td>{{form.pcp_profs()}}</td>
                                    <td>{{form.pcp_social()}}</td>
                                    <td>{{form.pcp_boons_banes()}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Arcs</h4>
                    </div>
                    <div class="panel-body">
                        Saga: {{form.arc_saga()}}<br>
                        Epic: {{form.arc_epic()}}<br>
                        Glory: {{form.arc_glory()}}<br>
                        Belief: {{form.arc_belief()}}<br>
                        Flaw: {{form.arc_flaw()}}<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Character Bio</h4>
                    </div>
                    <div class="panel-body">
                        {{form.bio()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Attributes</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STR</th>
                                    <th>AGI</th>
                                    <th>END</th>
                                    <th>HLT</th>
                                    <th>WIL</th>
                                    <th>WIT</th>
                                    <th>INT</th>
                                    <th>PER</th>
                                    <th>TOU</th>
                                    <th>LUK</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{form.attr_str()}}</td>
                                    <td>{{form.attr_agi()}}</td>
                                    <td>{{form.attr_end()}}</td>
                                    <td>{{form.attr_hlt()}}</td>
                                    <td>{{form.attr_wil()}}</td>
                                    <td>{{form.attr_wit()}}</td>
                                    <td>{{form.attr_int()}}</td>
                                    <td>{{form.attr_per()}}</td>
                                    <td>{{form.attr_tou()}}</td>
                                    <td>{{form.attr_luk()}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Skills</h4>
                    </div>
                    <div class="panel-body">
                        Skill: {{form.skill_1_name()}} Level: {{form.skill_1_lvl}}<br>
                        Skill: {{form.skill_2_name()}} Level: {{form.skill_2_lvl}}<br>
                        Skill: {{form.skill_3_name()}} Level: {{form.skill_3_lvl}}<br>
                        Skill: {{form.skill_4_name()}} Level: {{form.skill_4_lvl}}<br>
                        Skill: {{form.skill_5_name()}} Level: {{form.skill_5_lvl}}<br>
                        Skill: {{form.skill_6_name()}} Level: {{form.skill_6_lvl}}<br>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="text-center">Boons</h5>
                    </div>
                    <div class="panel-body">
                        {{form.boon_1_name()}}<br>
                        {{form.boon_2_name()}}<br>
                        {{form.boon_3_name()}}<br>
                        {{form.boon_4_name()}}<br>
                        {{form.boon_5_name()}}<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="text-center">Banes</h5>
                    </div>
                    <div class="panel-body">
                        {{form.bane_1_name()}}<br>
                        {{form.bane_2_name()}}<br>
                        {{form.bane_3_name()}}<br>
                        {{form.bane_4_name()}}<br>
                        {{form.bane_5_name()}}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Combat</h4>
                    <div class="panel-body">
                        School: {{form.school()}} {{form.school_lvl()}}<br><br>
                        {{form.proficiency_1()}}
                        {{form.proficiency_2()}}
                        {{form.proficiency_3()}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Talents</h4>
                    </div>
                    <div class="panel-body">
                        {{form.talent_1()}}
                        {{form.talent_2()}}
                        {{form.talent_3()}}
                        {{form.talent_4()}}
                        {{form.talent_5()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Weapons</h4>
                    </div>
                    <div class="panel-body">
                        Weapon 1: {{form.wep_1_name()}}<br>
                        Weapon 2: {{form.wep_2_name()}}<br>
                        Weapon 3: {{form.wep_3_name()}}<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="text-center">Armour</h4>
                    </div>
                    <div class="panel-body">
                        Armor 1: {{form.armor_1_name()}}<br>
                        Armor 2: {{form.armor_2_name()}}<br>
                        Armor 3: {{form.armor_3_name()}}<br>
                        Armor 4: {{form.armor_4_name()}}<br>
                        Armor 5: {{form.armor_5_name()}}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="Submit" class="btn btn-default">
                    Save Character
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
