{% extends "bootstrap/base.html" %}

{% block title %}
{{character['name']}}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-targets="#navbar-to-collapse"
            aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Char Builder</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-to-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/main-page">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                    <a href="/creator">Build</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <label for="charSearch" class="sr-only">
                        Search Characters
                    </label>
                    <input type="text" class="form-control" name="q"
                    id="charSearch" placeholder="Search Characters">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="settings/{{user.email}}">
                        Logged in as {{ user.email }}
                    </a>
                </li>
                <li class="active"><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Details</h4>
                    Name: {{character['name']}}<br>
                    Age: {{character['age']}}<br>
                    Race: {{character['race']}}<br>
                    Player: {{character['owner']}}<br>
                    Social Class: {{character['social_class']}}<br>
                    <table class="table text-center">
                        <caption>PCP Distribution</caption>
                        <thead>
                            <tr>
                                <th>Total</th>
                                <th>Race</th>
                                <th>Attributes</th>
                                <th>Skills</th>
                                <th>Proficiencies</th>
                                <th>Social Class/Wealth</th>
                                <th>Boons/Banes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for val in character['pcp_dist'] %}
                                <td>{{val}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Arcs</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Saga</th>
                                <th>Epic</th>
                                <th>Belief</th>
                                <th>Glory</th>
                                <th>Flaw</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{character['arcs']['saga']}}</td>
                                <td>{{character['arcs']['epic']}}</td>
                                <td>{{character['arcs']['belief']}}</td>
                                <td>{{character['arcs']['glory']}}</td>
                                <td>{{character['arcs']['flaw']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Character Bio</h4>
                    <p>{{character['bio']}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Attributes</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STR</th>
                                <th>AGI</th>
                                <th>END</th>
                                <th>HLT</th>
                                <th>WIL</th>
                                <th>WIT</th>
                                <th>INT</th>
                                <th>PER</th>
                                <th>TOU</th>
                                <th>LUK</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{character['attributes']['STR']}}</td>
                                <td>{{character['attributes']['AGI']}}</td>
                                <td>{{character['attributes']['END']}}</td>
                                <td>{{character['attributes']['HLT']}}</td>
                                <td>{{character['attributes']['WIL']}}</td>
                                <td>{{character['attributes']['WIT']}}</td>
                                <td>{{character['attributes']['INT']}}</td>
                                <td>{{character['attributes']['PER']}}</td>
                                <td>{{character['attributes']['TOU']}}</td>
                                <td>{{character['attributes']['LUK']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Compound Attributes</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ADR</th>
                                <th>MOB</th>
                                <th>CAR</th>
                                <th>CHA</th>
                                <th>GRIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{character['attributes']['ADR']}}</td>
                                <td>{{character['attributes']['MOB']}}</td>
                                <td>{{character['attributes']['CAR']}}</td>
                                <td>{{character['attributes']['CHA']}}</td>
                                <td>{{character['attributes']['GRIT']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Skills</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Skill Name</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for skill in character['skills'] %}
                            <tr>
                                <td>{{skill[0]}}</td>
                                <td>{{skill[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">Boons</h5>
                </div>
                <ul class="list-group">
                    {% for boon in character['boons'] %}
                    <li class="list-group-item">{{boon}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 class="text-center">Banes</h5>
                </div>
                <ul class="list-group">
                    {% for bane in character['banes'] %}
                    <li class="list-group-item">{{bane}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Combat</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Combat Pool</th>
                                <th>Missile Pool</th>
                                {% if character['school'] != None %}
                                <th>School</th>
                                <th>Level</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{character['cp']}}</td>
                                <td>{{character['mp']}}</td>
                                {% if character['school'] != None %}
                                <td>{{character['school'][0]}}</td>
                                <td>{{character['school'][1]}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    {% if character['profs'] %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Proficiency</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in character['profs'] %}
                            <tr>
                                <td>{{p[0]}}</td>
                                <td>{{p[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Talents</h4>
                    {% if character['talents'] %}
                    <ul class="list-group">
                        {% for tal in character['talents'] %}
                        <li class="list-group-item">{{tal}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Weapons</h4>
                    {% if character['weapons'] %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Reach</th>
                                <th>Swing</th>
                                <th>Thrust</th>
                                <th>Defense</th>
                                <th>Qualities</th>
                                <th>Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wep in character['weapons'] %}
                            <tr>
                                <td>{{wep[0]}}</td>
                                <td>{{wep[1]}}</td>
                                <td>{{wep[2]}}</td>
                                <td>{{wep[3]}}</td>
                                <td>{{wep[4]}}</td>
                                <td>{{wep[5]}}</td>
                                <td>{{wep[6]}}</td>
                                <td>{{wep[7]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Armour</h4>
                    {% if character['armors'] %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Armour</th>
                                <th>AVC</th>
                                <th>AVP</th>
                                <th>AVB</th>
                                <th>Locations</th>
                                <th>Weight</th>
                                <th>Qualities</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for arm in character['armors'] %}
                            <tr>
                                <td>{{arm[0]}}</td>
                                <td>{{arm[1]}}</td>
                                <td>{{arm[2]}}</td>
                                <td>{{arm[3]}}</td>
                                <td>{{arm[4]}}</td>
                                <td>{{arm[5]}}</td>
                                <td>{{arm[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
