{% extends "bootstrap/base.html" %}

{% block title %}
Placeholder
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-targets="#navbar-to-collapse"
            aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Char Builder</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-to-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                    <a href="/creator">Build</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <label for="charSearch" class="sr-only">
                        Search Characters
                    </label>
                    <input type="text" class="form-control" name="q"
                    id="charSearch" placeholder="Search Characters">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="settings/{{user.email}}">
                        Logged in as {{ user.email }}
                    </a>
                </li>
                <li class="active"><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Instructions</h2>
            <p>
                The character builder is a bit rough, but it does somewhat
                work now! Have fun building characters for Song of Swords.
            </p>
            <p>
                If you're familiar with the rules of the game, using the
                character builder is relatively self-explanatory. If you're not
                familiar with the rules, using it would be hard anyway. That
                can be rectified though, as the rules are available as a free
                download at
                <a href="http://www.songofswords.net/">the game's website</a>.
            </p>
        </div>
        <div class="col-md-6">
            {% if not user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <a href="/login" class="btn btn-default">
                            Login
                        </a>
                        --or--
                        <a href="/register" class="btn btn-default">
                            Create Account
                        </a>
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center">News &amp; Updates</h2>
                </div>
                <ul class="list-group">
                    {% for post in updates %}
                    <li class="list-group-item">
                        <p>
                        {{post}}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
